/* Full-page container */
.pageContainer {
	min-height: 100vh; 
	display: flex;
	flex-direction: column;
}

.formContainer {
    width: 70%;
    position: absolute;
    top: 85%;
    left: 15%;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.titleContainer {
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: larger;
}

.nameContainer {
    padding-bottom: 20px;
}

.resultsList {
	z-index: 100; /* Higher than other elements */
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	list-style-type: none; /* Remove bullets */
	padding-left: 0;
	margin: 0;
	background-color: whitesmoke;
	width: 80%;
}

.descriptionContainer {
    padding-top: 0px;
    padding-bottom: 20px;
}

.diningHallDropdownContainer {
    padding-top: 0px;
    padding-bottom: 20px;
}

.stationDropdownContainer {
    padding-top: 0px;
    padding-bottom: 20px;
}

.submitButtonContainer {
    width: 16%;
    position: sticky;
    left: 44.4%;
}

.submitButton {
    width: 100%;
    border-radius: 8px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

